body {
    color: darkblue;
    background-color: yellow;
    text-align: center;
}

header {
    border-color: darkblue;
    border-width: 10px;
    border-style: double;
    border-radius: 75px;
    background-color: powderblue;
    padding: 5px 10px 5px 10px;
    margin: 20px 25px;
}

main {
    border: red solid 5px;
    background-color: lightsalmon;
    padding: 5px 25px;
    width: 80%;
    margin: 0 auto;
}

nav {
    font-size: 20px;
}

.formulier {
    display: inline-block;
    border: solid red 1px;
    background-color: rgb(211, 132, 101);
    text-align: left;
    font-size: 20px;
    padding: 10px 35px;
    margin: 35px 10px;
}

textarea {
    width: 200px;
    height: 100px;
}

.button {
    border: solid 2px black;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.lijst {
    text-align: left;
    color: black;
    font-size: 25px;
}

.lijst ul {
    list-style-type: circle;
}

.lijst ul a {
    text-decoration: none;
}

.lijst a:link {
    color: black;
}

.lijst a:visited {
    color: black;
}

.lijst a:hover {
    color: darkred;
}

.toestel {
    text-align: left;
    color: black;
    font-size: 20px;
}

h1 {
    font-family: 'Potta One', cursive;
    color: black;
    font-size: 50px;
}

footer {
    border: darkgreen dotted 5px;
    border-radius: 10px;
    background-color: lightseagreen;
    font-size: 12px;
    padding: 2px;
    margin: 25px 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    color: white;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu li a:link {
    color: white;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: white;
    background-color: darkred;
}

@media (min-width: 1024px) {
    body {
        background-color: lightyellow;
    }
    h1 {
        font-size: 60px;
    }
    .button {
        background-color: lightyellow;
    }
    .formulier {
        width: 600px;
    }
    textarea {
        width: 500px;
    }
    img {
        height: 150px;
    }
    .toestel {
        font-size: 25px;
    }
    main {
        line-height: 1.25;
    }
}